<div class="title">
    <h1 id="welcome">history</h1>
</div>
<div class="row">
  <div class="history-section col-lg-12 col-sm-12">
  <%= month_calendar do |date| %>
    <%= date.day %> <br>
        <% @answers.each do |answer| %>
          <% if date === answer.created_at.to_date %>
          <%= answer.user_reply %>
          <br>
          <%= form_with(url: "/journal/history/edit/#{answer.id}", method: "post") do %>
        <form>
            <input type="text" name="user_reply" id="user_reply" placeholder="user_reply" value="<%= answer.user_reply %>">
            <button type="submit">edit</button>
            <button type="button"> 
              <%= link_to 'delete', "/journal/history/delete/#{answer.id}", method: :delete, data: { confirm: 'Are you sure?' } %>
            </button>
        </form>
      <% end %>
    <% end %>
    <% end %>
  <% end %>
  </div>
</div> 

<script>