
<div class="title">
  <h1 id="welcome">welcome</h1>
</div>

<div class="row">
  <div class="login-section col-lg-12 col-sm-12">
    <%= form_tag sessions_path do %>

    <div class="field">
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email] %>
    </div>

    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </div>

    <div class="actions"><%= submit_tag "login" %></div>
    <% end %>
</div>

<!--
<form class="sign-up">
<input type="text" placeholder="username"><br>
<input type="password" placeholder="password"><br>
<div id="login-button"><a href="journal.html">login</a></div>
</form>
-->



