
  <div class="title">
    <h1 id="welcome">sign up</h1>
  </div>

 <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="signup-section col-lg-12 col-sm-12">
    <div class="sign-up">
      <div class="field">
        <%= f.text_field :email, placeholder: "email" %>
      </div>
      <div class="field">
        <%= f.password_field :password, placeholder: "password" %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "password confirmation" %>
      </div>
      <div class="actions"><%= f.submit "sign up" %></div>
    <% end %>
  </div>
</div>
